body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #1a1a1a;
}
.parent {
  width: 100%;
  height: 100vh;
  background-color: #2c3e1c;
}
.child1 {
  width: 100%;
  height: 50px;
  background-color: #2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child2 {
  width: 100%;
  height: 50px;
  padding-top: 5px;
  background-color: #2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
.child3 {
  width: 100%;
  height: 350px;
  display: flex;
}
.leftcontent {
  width: 25%;
  height: 100%;
  background-color: rgb(247, 141, 141);
  display: flex;
  align-items: center;
  justify-content: center;
}
.centercontent {
  width: 50%;
  height: 100%;
  background-color: rgb(245, 245, 162);
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightcontent {
  width: 25%;
  height: 100%;
  background-color: rgb(124, 204, 247);
  display: flex;
  align-items: center;
  justify-content: center;
}
.child4 {
  width: 100%;
  height: 50px;
  background-color: #2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
=======

>>>>>>> 9dda3c9 (test)
}