body {
  margin: 0;
  padding: 0;
  color: white;
}
.parent {
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
}
.child1 {
  background-color: rgb(135, 134, 240);
  width: 100%;
  height: 50px;
}
.child2 {
  background-color: rgb(147, 245, 176);
  width: 100%;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.left {
  background-color: rgb(101, 109, 231);
}
.center {
  background-color: rgb(77, 230, 123);
}
.right {
  background-color: rgb(219, 237, 87);
}
.child3 {
  background-color: rgb(235, 68, 68);
  width: 100%;
  height: 50px;
}
